---
import Layout from "../layouts/Layout.astro";

const pageTitle = "About";
---

<Layout pageTitle={pageTitle}>
  <main>
    <h1>About Us</h1>
    <p>This is the about page where you can learn more about our website.</p>
  </main>
</Layout>